/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  margin-left: 23%;
  margin-top: 8%;
  text-align: center;
}
button {
  margin-left: -88%;
}
.caracCount {
  margin-left: 90%;
}
.img {
  margin-left: -73.5%;
}

body,
head,
html,
.navbar {
  max-width: 100%;
  background-color: rgb(55, 56, 54);
}

.nav-item,
.navbar-brand {
  color: white;
  text-decoration: none;
}
