<div class="container">
  <form [formGroup]="creationForm" (submit)="createBlog()">
    <div class="form-group">
      <label for="exampleInputEmail1"><h6>Title</h6></label>
      <input
        maxlength="45"
        type="text"
        class="form-control"
        id="title"
        aria-describedby="titleHelp"
        formControlName="title"
        placeholder="Title"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputSubtitle"><h6>Subtitle</h6></label>
      <input
        maxlength="45"
        type="text"
        class="form-control"
        formControlName="subTitle"
        id="inputSubtitle"
        placeholder="Subtitle"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"><h6>Example textarea</h6></label>
      <textarea
        maxlength="1000"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Your article ..."
        formControlName="content"
        required
      ></textarea>
      <div class="caracCount">
        {{ 1000 - creationForm.value.content.length }}
      </div>
      <div class="img">
        <label for="images"></label>
        <button class="btn btn-success" type="button" (click)="upload()">Validate</button>
        <input type="file" name="images" id="file" (change)="handleFileInput($event.target.files)" />
      </div>
    </div>
    <button class="btn btn-success" type="submit">Send my article</button>
  </form>
</div>
